<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HotelTrackingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>CityMunicipality</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CityMunicipality</servlet-name>
    <jsp-file>/city_municipality_of_hotel.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityMunicipality</servlet-name>
    <url-pattern>/CityMunicipality</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelsLists</servlet-name>
    <jsp-file>/hotels_lists.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelsLists</servlet-name>
    <url-pattern>/HotelsLists</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewHotel</servlet-name>
    <jsp-file>/add_new_hotel.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewHotel</servlet-name>
    <url-pattern>/AddNewHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactUs</servlet-name>
    <jsp-file>/contact_us.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlanYourVisit</servlet-name>
    <jsp-file>/plan_your_visit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanYourVisit</servlet-name>
    <url-pattern>/PlanYourVisit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SightsAndActivities</servlet-name>
    <jsp-file>/sights_and_activities.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SightsAndActivities</servlet-name>
    <url-pattern>/SightsAndActivities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>hotel.reservation.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
</web-app>