<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BuyAndSellMobilePhones</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddNewEntry</servlet-name>
    <jsp-file>/buy_and_sell_add_new_entry.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewEntry</servlet-name>
    <url-pattern>/AddNewEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResultPage</servlet-name>
    <jsp-file>/buy_and_sell_result_page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultPage</servlet-name>
    <url-pattern>/ResultPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchPage</servlet-name>
    <jsp-file>/buy_and_sell_search_page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPage</servlet-name>
    <url-pattern>/SearchPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SellerProfile</servlet-name>
    <jsp-file>/buy_and_sell_seller_profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerProfile</servlet-name>
    <url-pattern>/SellerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageController</display-name>
    <servlet-name>PageController</servlet-name>
    <servlet-class>buy.and.sell.PageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageController</servlet-name>
    <url-pattern>/PageController</url-pattern>
  </servlet-mapping>
</web-app>