#notice{
background-image:url(../img/booksdeleted.png);
width:301px;
height:246px;
margin-top:50px;
margin-left:500px;
position:relative;
}

button.back{
background-image:url(../img/back.png);
width:135px;
height:45px;
border-style:none;
border-radius:15px;
margin-top:100px;
margin-left:85px;
}

button.logout2{
background-image:url(../img/noticelogout.png);
width:131px;
height:45px;
border-style:none;
border-radius:15px;
margin-left:85px;
}