@CHARSET "ISO-8859-1";

h3{
	font-family:candara;
	margin-top:50px;
	margin-left:250px;
}

table{
	font-family:candara;
margin-top:20px;
width:900px;
text-align:center;
}

button.back{
background: url(../img/back.png);
width:135px;
height:45px;
border:none;
margin-top:20px;
text-align:center;
}