*{
margin:0 auto;
padding:0px;
}
body{
background: aliceblue;
}

#header{
background: url(../img/top.jpg) center no-repeat;
width:1000px;
height:84px;
}

#header img{
width:281px;
height:96px;
float:left;
}

#main h1{
font-family:candara;
font-size: 35px;
float:left;
margin-left:-145px;
margin-top:25px;
}

#footer{
background: url(../img/bottom.png) center no-repeat;
width:1000px;
height:33px;
margin-top:100px;
}