<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ClassRecordProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>ClassList</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ClassList</servlet-name>
    <jsp-file>/class_list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassList</servlet-name>
    <url-pattern>/ClassList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <jsp-file>/add_student.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddNewStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddClass</servlet-name>
    <jsp-file>/add_class.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentList</servlet-name>
    <jsp-file>/student_list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentList</servlet-name>
    <url-pattern>/StudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GradeSheet</servlet-name>
    <jsp-file>/grade_sheet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeSheet</servlet-name>
    <url-pattern>/GradeSheet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NameSetter</servlet-name>
    <servlet-class>classes.record.NameSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameSetter</servlet-name>
    <url-pattern>/FacultyName</url-pattern>
  </servlet-mapping>
</web-app>