<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainController</servlet-name>
    <jsp-file>/main_controller.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InputForm</servlet-name>
    <jsp-file>/input_form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputForm</servlet-name>
    <url-pattern>/InputForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubscriberInfo</servlet-name>
    <jsp-file>/subscriber_info.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscriberInfo</servlet-name>
    <url-pattern>/SubscriberInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubscriberMonthlyUsage</servlet-name>
    <jsp-file>/subscriber_monthly_usage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscriberMonthlyUsage</servlet-name>
    <url-pattern>/SubscriberMonthlyUsage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubscriberUsage</servlet-name>
    <jsp-file>/subscriber_usage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscriberUsage</servlet-name>
    <url-pattern>/SubscriberUsage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>advance.java.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/PageController</url-pattern>
  </servlet-mapping>
</web-app>